# Pasar datos en formato json a txt

Comenzamos importando las librerÃ­as y estableciendo las opciones de pandas que queremos.

In [315]:
import glob
import json
import pandas as pd
from datetime import datetime as dt
import re
from IPython.display import Image

pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None

El json obtenido con twarc tiene 2 items, cogemos los dos y los metemos en una lista.

In [316]:
tweets_data = []

tweets_file = open(r'felizmiercoles.json1', encoding = 'utf-8')

for line in tweets_file:
    tweet = json.loads(line)
    tweets_data.append(tweet)

tweets_file.close()

EJEMPLO DE ESTRUCTURA DE JSON

In [317]:
Image(url="../Imagenes/json_tree.png", width=600,height=600)

Loopeamos en la lista de items del json para coger cada pieza de informaciÃ³n de todos los tweets e introducirla en una variable. Por Ãºltimo el loop va a unir toda la informaciÃ³n en "list_tweets_flattered", que es una lista vacÃ­a que vamos a llenar con otras listas, una por tweet.

In [318]:
list_tweets_flattered = []

for item in tweets_data:
    list_tweets = item['data']
    for tweet in list_tweets:
        if 'referenced_tweets' in tweet:
            type = tweet['referenced_tweets'][0]['type']
            if type == 'retweeted':
                user_retweeted = tweet['entities']['mentions'][0]['username']
        else:
            type = 'tweet'
            user_retweeted = None
        id_user = tweet['author_id']
        date = tweet['created_at']
        source = tweet['source']
        text = tweet['text']
        reply_settings = tweet['reply_settings']
        id_tweet = tweet['id']
        retweet_count = tweet['public_metrics']['retweet_count']
        reply_count = tweet['public_metrics']['reply_count']
        like_count = tweet['public_metrics']['like_count']
        quote_count = tweet['public_metrics']['quote_count']
        language = tweet['lang']

        list_tweets_flattered.append([type,user_retweeted,id_user,date,source,text,reply_settings,id_tweet,retweet_count,
                                        reply_count,like_count,quote_count,language])

Esa lista de listas la convertimos en dataframe.

In [319]:
tweets_df = pd.DataFrame(list_tweets_flattered,columns=['relation','user retweeted','id user','date','app','text','reply settings',
'id tweet','retweet count','reply count','like count','quote count','language'])
tweets_df.head(2)

,relation,user retweeted,id user,date,app,text,reply settings,id tweet,retweet count,reply count,like count,quote count,language
0,retweeted,Elangel_ven0,1280509194534346752,2022-10-19T15:15:26.000Z,Twitter Web App,RT @Elangel_ven0: YOâ™¥ï¸CUMANA\nğŸš© Tras las lluvias acaecidas en #Cumana el alcalde ğŸ‘‰ .@lossifontes realizo el acercamiento a la comunidad de Eâ€¦,everyone,1582752287495458817,43,0,0,0,es
1,retweeted,sergiofimbres,795089089,2022-10-19T15:15:25.000Z,Twitter for Android,RT @sergiofimbres: ğŸ“° Segob vs ego (@osvaldomonos) \n#FelizMiercoles https://t.co/mzLhRFzLew,everyone,1582752285595029505,7,0,0,0,es

Hacemos lo mismo con la informaciÃ³n de los usuarios.

In [320]:
list_users_flattered = []

for item in tweets_data:
    list_users = item['includes']['users']
    for user in list_users:
        if 'location' in user:
            location = user['location']
        else:
            location = None
        username = user['username']
        verified = user['verified']
        name = user['name']
        id_user = user['id']
        profile_image_url = user['profile_image_url']
        followers_count = user['public_metrics']['followers_count']
        following_count = user['public_metrics']['following_count']
        tweet_count = user['public_metrics']['tweet_count']
        listed_count = user['public_metrics']['listed_count']
        bio = user['description']
        created = user['created_at']
        if 'url' in user:
            url_list = user['entities']['url']['urls']
            url_end = []
            for url_unique in url_list:
                expanded_url = url_unique['expanded_url']
                url_end.append(expanded_url)
        else:
            url_end = None

        list_users_flattered.append([location,username,verified,name,id_user,profile_image_url,
        followers_count,following_count,tweet_count,listed_count,bio,created,url_end])

In [321]:
users_df = pd.DataFrame(list_users_flattered,columns=['location','author','verified','name',
'id user','profile image url','followers','following','tweets','listed',
'description','created','urls'])

In [322]:
users_df.head(1)

,location,author,verified,name,id user,profile image url,followers,following,tweets,listed,description,created,urls
0,Apure,ShavelaHermosa,False,â™¥ï¸â‹† ğ“’ğ“±ğ“ªğ“¿ğ“®ğ“µğ“ª ğ“ğ“·ğ“­ğ“»ğ“®ğ“²ğ“·ğ“ª â‹† â™¥ï¸,1280509194534346752,https://pbs.twimg.com/profile_images/1539401404896378880/X5TJ6zo2_normal.jpg,4402,3183,73680,3,"Llanera, me gusta viajar y conocer mi paÃ­s ğŸ‡»ğŸ‡ª\nâ™« ..En el fogÃ³n de tus brazos cocÃ­name a fuego \nlento pÃ que mi alma se sancoche\n con el calor de tu cuerpo.â™«",2020-07-07T14:29:32.000Z,None

Hacemos lo mismo con la fecha en la que hemos cogido los tweets.

In [323]:
retrieved_at = tweets_data[0]['__twarc']['retrieved_at']

AÃ±adimos la informaciÃ³n de los usuarios y la fecha de obtenciÃ³n al dataframe de tweets.

In [324]:
merged = tweets_df.merge(users_df,how='left',on='id user')
merged['retrieved at'] = retrieved_at

In [325]:
merged.head(1)

,relation,user retweeted,id user,date,app,text,reply settings,id tweet,retweet count,reply count,like count,quote count,language,location,author,verified,name,profile image url,followers,following,tweets,listed,description,created,urls,retrieved at
0,retweeted,Elangel_ven0,1280509194534346752,2022-10-19T15:15:26.000Z,Twitter Web App,RT @Elangel_ven0: YOâ™¥ï¸CUMANA\nğŸš© Tras las lluvias acaecidas en #Cumana el alcalde ğŸ‘‰ .@lossifontes realizo el acercamiento a la comunidad de Eâ€¦,everyone,1582752287495458817,43,0,0,0,es,Apure,ShavelaHermosa,False,â™¥ï¸â‹† ğ“’ğ“±ğ“ªğ“¿ğ“®ğ“µğ“ª ğ“ğ“·ğ“­ğ“»ğ“®ğ“²ğ“·ğ“ª â‹† â™¥ï¸,https://pbs.twimg.com/profile_images/1539401404896378880/X5TJ6zo2_normal.jpg,4402,3183,73680,3,"Llanera, me gusta viajar y conocer mi paÃ­s ğŸ‡»ğŸ‡ª\nâ™« ..En el fogÃ³n de tus brazos cocÃ­name a fuego \nlento pÃ que mi alma se sancoche\n con el calor de tu cuerpo.â™«",2020-07-07T14:29:32.000Z,None,2022-10-19T15:15:40+00:00

Limpiamos las columnas de fechas.

In [326]:
merged['date'] = merged['date'].apply(lambda x:str(x))
merged['date'] = merged['date'].str.replace('T',' ')
merged['date'] = merged['date'].str.replace('Z','')
merged['date'] = merged['date'].str.replace('000','')
merged['date'] = merged['date'].str.replace('.','')

C:\Users\Piratena\AppData\Local\Temp\ipykernel_12128\2984507682.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged['date'] = merged['date'].str.replace('.','')

In [327]:
merged['created'] = merged['created'].apply(lambda x:str(x))
merged['created'] = merged['created'].str.replace('T',' ')
merged['created'] = merged['created'].str.replace('Z','')
merged['created'] = merged['created'].str.replace('000','')
merged['created'] = merged['created'].str.replace('.','')

C:\Users\Piratena\AppData\Local\Temp\ipykernel_12128\2744918300.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged['created'] = merged['created'].str.replace('.','')

In [328]:
merged['retrieved at'] = merged['retrieved at'].str.replace('T',' ').apply(lambda x:str(x)).apply(lambda x:x[:-6])

Transformamos las 3 columnas de fechas de nuevo a objeto datetime (fecha y tiempo)

In [329]:
merged['date'] = merged['date'].apply(lambda x:dt.strptime(x, '%Y-%m-%d %H:%M:%S'))
merged['created'] = merged['created'].apply(lambda x:dt.strptime(x, '%Y-%m-%d %H:%M:%S'))
merged['retrieved at'] = merged['retrieved at'].apply(lambda x:dt.strptime(x, '%Y-%m-%d %H:%M:%S'))

Quitamos los saltos de lÃ­nea de las columnas de textos largos.

In [330]:
merged['text'] = merged['text'].str.replace('\n',' ')
merged['description'] = merged['description'].str.replace('\n',' ')

Ordenamos el dataframe de tweets mÃ¡s antiguos a mÃ¡s recientes.

In [331]:
merged = merged.sort_values(by='date',ascending=True)

In [332]:
merged.head(1)

,relation,user retweeted,id user,date,app,text,reply settings,id tweet,retweet count,reply count,like count,quote count,language,location,author,verified,name,profile image url,followers,following,tweets,listed,description,created,urls,retrieved at
215,tweet,None,296592711,2022-10-19 15:06:43,Twitter Web App,12 #FelizMiercoles https://t.co/2k3ETNfzng,everyone,1582750095019499520,0,0,0,0,und,CDMX,jramiroMX,False,CHILANGO,https://pbs.twimg.com/profile_images/1311646474984476672/LjlH6TKT_normal.jpg,188356,209256,525227,345,"Que nadie manipule tu criterio, Â¿como puedes evitarlo?, solo adquiriendo el buen hÃ¡bito de estar bien informado, no existe otra forma",2011-05-11 02:05:17,None,2022-10-19 15:15:40

Ordenamos las columnas.

In [333]:
merged = merged[['id tweet','date','author','text','app','id user','followers','following','tweets','location',
'urls','name','description','relation','user retweeted']]

In [334]:
merged.head(1)

,id tweet,date,author,text,app,id user,followers,following,tweets,location,urls,name,description,relation,user retweeted
215,1582750095019499520,2022-10-19 15:06:43,jramiroMX,12 #FelizMiercoles https://t.co/2k3ETNfzng,Twitter Web App,296592711,188356,209256,525227,CDMX,None,CHILANGO,"Que nadie manipule tu criterio, Â¿como puedes evitarlo?, solo adquiriendo el buen hÃ¡bito de estar bien informado, no existe otra forma",tweet,None

Limpiamos los duplicados que se hayan podido generar.

In [335]:
merged = merged.drop_duplicates(subset='id tweet',keep='first')

Lo guardamos como .txt con separaciÃ³n de tabulador, que es el que usa t-hoarder.

In [336]:
merged.to_csv('felizmiercoles.txt',index=False,sep='\t')